* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 1rem;
}

.card {
  background-color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 650px;
  border-radius: 12px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-content {
  padding: 2rem;
}

.category {
  letter-spacing: 4px;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  margin-bottom: 1rem;
  text-transform:uppercase;
}

.title {
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 1rem;
  color: hsl(212, 21%, 14%);
}

.description {
  font-size: 14px;
  color: #6c7289;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.current-price {
  font-size: 2rem;
  font-weight: bold;
  color: #3c8067;
}

.old-price {
  text-decoration: line-through;
  color: #6c7289;
  font-size: 0.9rem;
}


.btn {
  width: 100%;
  padding: 0.9rem;
  background-color: #3c8067;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #1a4032;
}

@media (max-width: 600px) {

  body {
    padding: 1rem;
  }

  .card {
    grid-template-columns: 1fr;   /* stack image + content */
    max-width: 375px;
  }

  .image {
    height: 240px;
  }

  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-content {
    padding: 1.5rem;
  }

  .title {
    font-size: 1.6rem;
  }

  .price {
    margin-bottom: 1.2rem;
  }

  .btn {
    font-size: 0.95rem;
    padding: 0.85rem;
  }
}
